.input {
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  background: #D3C4D1;
}

.input:focus {
  background: #E5DCE4;
}

.label {
  padding-left: 5px;
  font-size: 24px;
  color: #045676;
}