.container {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #FF729F;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #1a1a1a;
  margin: 0 !important;
}

.sortButton {
  background:#FF729F;
  font-size: 14px;
  padding: 8px;
  border: 2px solid #121212;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .heading {
    font-size: 3rem;
  }
}