.container {
  height: 100vw;
  padding: 20px;
}

.heading {
  font-size: 8rem;
  font-weight: bold;
  color: #FF729F;
  letter-spacing: 2px;
  font-family: 'Merriweather', serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 400px) {
  .heading {
    font-size: 3rem;
  }
}