@import url('https: //fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;

  background: #D3C4D1;
  background: linear-gradient(to right, #D3C4D1,#56CBF9);
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
    background: #D3C4D1;
  }
}