@import url('https: //fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #121212;

  background: #FAFAFA;

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
}